#Upcoming{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}
#flex-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
#left {
    display: block;

}
#right{
   
    margin-left: 80px;
}
.image:hover{
 cursor: pointer;
}
  